.main h1 {
  text-transform: uppercase;
  font-size: 4.5vh;
  font-weight: 600;
  margin-bottom: 3vh;
  width: 57%;
  text-align: right;
  margin-left: 4vw;
}

.main .appoint {
  width: 60%;
  height: 63vh;
  background: rgba(255, 255, 255, 0.37);
  margin: auto;
  border-radius: 8vh;
  padding-top: 2.5vh;
}

.main .appoint > form {
  width: 85%;
  margin: auto;
}

.flex-outer {
  list-style: none;
  padding: 0;
}

.flex-outer li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.5vh;
}

.flex-outer li label {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 20px;
          flex: 1 0 20px;
  max-width: 9vw;
  font-size: 2vh;
  font-weight: lighter;
}

.flex-outer li input {
  height: 5vh;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 3vh;
  -webkit-filter: drop-shadow(0px 2px 2px gray);
          filter: drop-shadow(0px 2px 2px gray);
  padding-left: 1vw;
  font-size: 2vh;
}

.flex-outer li select {
  height: 5vh;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 3vh;
  -webkit-filter: drop-shadow(0px 2px 2px gray);
          filter: drop-shadow(0px 2px 2px gray);
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 2vh;
}

.flex-outer > li:first-child {
  margin-top: 2vh;
}

#pat-id,
#doctor-id {
  width: 30%;
  content: "";
  top: 14px;
  border: 10px solid transparent;
  border-color: #fff transparent transparent transparent;
}

#dateappoint,
#time-appoint,
#doctor-id {
  width: 30%;
}

#doctor-name,
#patient-name {
  width: 75%;
}

#inreg-submit {
  background-color: #707070;
  border: none;
  color: white;
  text-transform: uppercase;
  font-family: Poppins;
  width: 8vw;
  height: 6vh;
  border-radius: 20vh;
  font-size: 2.5vh;
  cursor: pointer;
  margin-top: 6%;
  margin-left: 43%;
  font-weight: 550;
}

#inreg-submit:hover {
  opacity: 0.7;
}

#cl-button {
  position: absolute;
  right: 19vw;
  margin-top: 0.4vh;
  color: gray;
  position: absolute;
}

#cl-button:hover {
  opacity: 0.7;
}

#dateicon {
  position: absolute;
  margin: -1vh -1.8vw;
  color: gray;
  font-size: 1.9vh;
}

#time-icon {
  position: absolute;
  margin: -1vh -1.8vw;
  color: gray;
  font-size: 1.9vh;
}

.footer-icons {
  margin-top: 0vh;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 40vh;
  left: 0vh;
  top: 0vh;
  width: 110vw;
  height: 100vh;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.404);
}

.modal #saveModal {
  margin-top: 50%;
}

.saveModal {
  background: #b1b1b1;
}

.saveModal-content {
  background: #b1b1b1;
  margin: auto 45vw;
  padding: 1.3vh;
  border: none;
  width: 25vw;
  height: 20vh;
  border-radius: 5vh;
}

.saveModal-content .delp {
  font-size: 2.5vh;
  font-weight: 500;
  text-align: center;
  margin-top: 4vh;
}

.saveModal-content button {
  width: 5vw;
  height: 5.25vh;
  border-radius: 1vh;
  border: none;
  background: white;
  font-size: 2.5vh;
}

.saveModal-content #btn1,
.saveModal-content #btn2 {
  display: inline-block;
  margin: 1vh 1vh;
}

.saveModal-content #btn1 {
  margin-left: 6.2vw;
}

.saveModal-content #btn1:hover,
.saveModal-content #btn2:hover {
  background: #5c5c5c;
  color: white;
}

.deletemodal {
  background-color: rgba(0, 0, 0, 0);
}

.deletemodal-content {
  background: #b1b1b1;
  margin: auto 47vw;
  padding: 1.3vh;
  border: none;
  width: 21vw;
  height: 20vh;
  border-radius: 6vh;
}

.deletemodal-content .delp {
  font-size: 2vh;
  font-weight: 500;
  text-align: center;
  margin-top: 4vh;
}

.deletemodal-content button {
  width: 5vw;
  height: 5.25vh;
  border-radius: 1vh;
  border: none;
  background: white;
  font-size: 2vh;
}

.deletemodal-content #btn1,
.deletemodal-content #btn2 {
  display: inline-block;
  margin: 1vh 1vh;
  outline-style: none;
}

.deletemodal-content #btn1 {
  margin-left: 4.5vw;
}

.deletemodal-content .btn:hover {
  background: #5c5c5c;
  color: white;
}

/* calendar */
.cld-main {
  width: 280px;
}

.cld-main a {
  color: #333;
  font-weight: bold;
}

.cld-datetime {
  position: relative;
  width: 100%;
  min-width: 100px;
  /* max-width: 300px; */
  margin: auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-bottom: 5px;
}

.cld-datetime .today {
  position: relative;
  /* float: left; */
  width: 60%;
  margin: auto;
  text-align: center;
  border: 1px solid;
  padding: 5px;
  background-color: #fffdc2;
}

.cld-nav {
  background-color: #fffdc2;
  position: relative;
  width: 15%;
  margin-top: 2px;
  border: 1px solid;
  padding: 5px;
}

.cld-nav:hover {
  cursor: pointer;
}

.cld-nav:hover svg {
  fill: #666;
}

/* .cld-rwd {
          float: left;
        }
        
        .cld-fwd {
          float: right;
        } */
ul.cld-labels,
.cld-days {
  padding-left: 0;
  background-color: #fffdc2;
  border: 1px solid;
  margin-bottom: unset;
}

ul.cld-labels {
  border-bottom: 0;
}

.cld-days {
  border-top: 0;
}

.cld-label,
.cld-day {
  display: inline-block;
  width: 14.28%;
  text-align: center;
}

.cld-day.today .cld-number {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: #666;
  color: #fff;
}

.cld-day.disableDay {
  opacity: 0.5;
}

.cld-day.nextMonth,
.cld-day.prevMonth {
  opacity: 0.33;
}

.cld-number {
  position: relative;
  margin: 5px;
  padding: 5px;
}

.cld-title {
  position: absolute;
  z-index: 5;
  display: none;
  top: 30px;
  left: 0;
  padding: 5px 10px;
  background: #fff;
  white-space: nowrap;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 12px;
}

.cld-number:hover .cld-title {
  display: block;
}

.cld-title::before {
  content: '';
  position: absolute;
  top: -7.5px;
  left: 7.5px;
  width: 0;
  height: 0;
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;
  border-bottom: 7.5px solid #ccc;
}

.cld-number.eventday {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  border: 1px solid #999;
}

.datepicker {
  background-color: unset !important;
}

.datepickers-container {
  z-index: 200000 !important;
  left: -50px !important;
}

.datepicker--nav {
  max-height: 30px !important;
  padding: 4px 0 !important;
  margin-bottom: 4px !important;
}

.datepicker--content {
  background-color: #FFFDC2 !important;
}

.datepicker--nav-title {
  padding: 6px !important;
  border: 1px solid #333 !important;
  background-color: #FFFDC2 !important;
}

.datepicker--nav-action {
  border: 1px solid #333 !important;
  background-color: #FFFDC2 !important;
  width: 60px !important;
}

.datepicker--content {
  border: 1px solid #333 !important;
}

.datepicker--day-name {
  color: #444242 !important;
}

/* style timepicker */
.wickedpicker__title {
  display: none !important;
}

.wickedpicker {
  height: unset !important;
  background-color: #FFFDC2 !important;
  width: 200px !important;
}

.wickedpicker__controls__control {
  width: 60px !important;
}

@media (max-width: 1450px) {
  .appoint {
    height: 60vh;
  }
  /*.patientFooter {
        //left: 25vh;
        left: 17%;
        padding-right: 2%;
        width: 80%;
    }*/
  /*.c {
        height: 7.2vh;
        a {
            img {
                width: 1.6vw;
            }
        }
    }*/
}

@media (max-width: 1300px) {
  /*.c {
        height: 6.9vh;
        width: 3.5vw;
    }*/
  #cl-button {
    -webkit-transform: translateX(-10vw);
            transform: translateX(-10vw);
  }
}

@media (max-width: 1200px) {
  .appoint {
    width: 70%;
  }
  .appoint form {
    width: 90%;
  }
  /*.c {
        height: 7vh;
        width: 5vw;
        a {
            img {
                width: 2vw;
            }
            i {
                font-size: 2vh;
            }
        }
    }*/
  #cl-button {
    -webkit-transform: translateX(-15vw);
            transform: translateX(-15vw);
  }
  #inreg-submit {
    width: 10vw;
    height: 6vh;
    font-size: 2.3vh;
    cursor: pointer;
    margin-top: 2%;
    margin-left: 43%;
  }
}

/*@media (max-width:1250px) and (min-width:1200px) {
    .patientFooter {
        background: red;
    }
    .c {
        height: 7vh;
        width: 3vw;
        a {
            img {
                width: 2vw;
            }
            i {
                font-size: 2vh;
            }
        }
    }
}*/
@media (max-width: 1200px) and (min-width: 1090px) {
  body {
    overflow-x: hidden;
    overflow-y: hidden;
  }
  #cl-button {
    top: 30%;
  }
}

@media (max-width: 1000px) {
  #pat-id,
  #dateappoint,
  #time-appoint,
  #doctor-id {
    width: 45%;
  }
  #dateicon {
    margin: -1vh -3vw;
  }
  #time-icon {
    margin: -1vh -3vw;
  }
  #inreg-submit {
    width: 14vw;
  }
  #cl-button {
    top: 28%;
  }
}
/*# sourceMappingURL=appointment-form.css.map */