.sidebar {
    position: absolute;
}

@media (min-width:1500px) {
    .calculate {
        margin-top: 44vh;
    }
}

@media (max-width:1500px) and (min-width:1250px) {
    .tabl {
        margin-top: 8%;
    }
    .calculate {
        top: 46.5vh;
        margin-top: 12px;
    }
    .patient-search {
        width: 79vw;
    }
    .table-fix {
        height: 40vh;
    }
}

@media (max-width:1400px) {
    #gap {
        width: 7vw;
        margin-right: 2vw;
    }
    #spi,
    #spis,
    #epi,
    #epis {
        transform: translateX(4.5vw);
    }
    .tabl {
        transform: translateY(-3vh);
    }
    .calculate {
        height: 5vh;
        width: 13vw;
        border-radius: 6vh;
    }
    .border {
        height: 5vh;
    }
}

@media (max-height:680px) {
    .calculate {
        margin-top: 18px;
    }
}

@media (max-width:1250px) and (min-width:1090px) {
    .tabl {
        margin-top: 12%;
        width: 75%;
    }
    .tbl h1 {
        margin-left: 49%;
    }
    .table-fix {
        height: 44vh;
    }
    .main {
        width: 76vw !important;
    }
    .patient-search {
        width: 73vw;
    }
    .table2 {
        width: 100%;
    }
    .heading-table {
        width: 73vw;
    }
    .table-fix {
        width: 73vw;
    }
    .patientFooter {
        left: 30vw;
        height: 13vh;
    }
    footer {
        margin-top: -2vh;
    }
    .patient-search #label-1 {
        margin-left: -37px;
        width: 3vw;
    }
    .patient-search #label-2 {
        width: 2vw;
    }
    .calculate {
        top: 50vh;
        left: 90.5%;
    }
    .tbl {
        h1 {
            font-size: 4vh;
        }
    }
}

@media (max-width:1090px) {
    .patient-search {
        width: 96%;
    }
    .heading-table {
        width: 100%;
    }
    .table2 {
        width: 100%;
    }
    .table-fix {
        width: 100%;
    }
    .tabl {
        margin-top: 10%;
        width: 95%;
    }
    .tbl h1 {
        margin-left: 49%;
    }
    .patient-search #label-1 {
        margin-right: 3vw;
        margin-left: -18px;
    }
    #label-2 {
        margin-right: 1.6vw;
    }
    .patient-search #epis {
        //right: 6vh !important;
        right: 12vh;
    }
    .patient-search #epi {
        //right: 7vh;
        right: 9vw;
        width: 20vw;
    }
    .patient-search #spis {
        //right: 8vh !important;
        right: 10vw;
    }
    .patient-search #spi {
        //right: 9.5vh;
        left: -12vw;
        width: 20vw;
    }
    .status {
        width: 40%;
    }
    .table-fix {
        height: 39vh;
    }
    .calculate {
        top: 45vh;
        left: 72.5%;
        width: 18vw;
        .total {
            width: 35%;
        }
    }
    .tbl {
        h1 {
            font-size: 4vh;
        }
    }
}

@media (max-width:1000px) and (min-width:700px) {
    /*.patient-search {
        background: red;
    }*/
    .patient-search #epis {
        //right: 6vh !important;
        right: 12vh;
    }
    .patient-search #epi {
        //right: 7vh;
        right: 12vw;
        width: 20vw;
    }
    .patient-search #spis {
        //right: 8vh !important;
        right: 14vw;
    }
    .patient-search #spi {
        //right: 9.5vh;
        left: -15vw;
        width: 20vw;
    }
    #input-label-1 {
        width: 30%;
    }
    #input-label-2 {
        width: 30%;
    }
    .calculate {
        width: 20vw;
    }
}

@media (max-width:900px) {
    .tabl {
        margin-top: 13%;
    }
}