* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-zoom: 75%;
  max-zoom: 150%;
}

/* Remove every outline */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}

@-ms-viewport {
  width: 480px;
}

@-o-viewport {
  zoom: 1;
  min-zoom: 1;
  max-zoom: 2;
}

@viewport {
  zoom: 1;
  min-zoom: 1;
  max-zoom: 2;
}

html {
  background: url("../src/img/MAIN_BACKGROUND.png") no-repeat center center fixed;
  background-size: cover;
}

nav {
  height: 80px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  margin: -10px;
}

nav div {
  margin: 0 5px;
  padding: 23px;
}

nav div:hover {
  border-color: #a0a0a0;
}

nav div:hover i {
  color: #bdbdbd;
}

.fb {
  width: 3%;
  height: 50%;
  background: rgba(255, 0, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #504f4f;
  border-radius: 50%;
}

.fb a i {
  font-size: 28px;
  color: #504f4f;
}

.inst {
  width: 3%;
  height: 50%;
  background: rgba(255, 0, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #504f4f;
  border-radius: 50%;
}

.inst > a > i {
  font-size: 28px;
  color: #504f4f;
}

.twit {
  width: 3%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #504f4f;
  border-radius: 50%;
}

.twit > a > i {
  font-size: 28px;
  color: #504f4f;
}

header {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#headingImage {
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1024px) {
  #headingImage {
    width: 350px;
    margin-top: 80px;
  }
}

@media only screen and (min-width: 1800px) {
  nav {
    height: 100px;
    padding-top: 2px;
  }
  .fb {
    width: 3%;
    height: 58%;
    background: rgba(255, 0, 0, 0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 3px solid #504f4f;
    border-radius: 50%;
  }
  .fb a i {
    font-size: 35px;
    color: #504f4f;
  }
  .inst {
    width: 3%;
    height: 58%;
    background: rgba(255, 0, 0, 0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 3px solid #504f4f;
    border-radius: 50%;
  }
  .inst > a > i {
    font-size: 35px;
    color: #504f4f;
  }
  .twit {
    width: 3%;
    height: 58%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 3px solid #504f4f;
    border-radius: 50%;
  }
  .twit > a > i {
    font-size: 35px;
    color: #504f4f;
  }
}
/*# sourceMappingURL=conf-layout.css.map */