.main #cl-button {
  right: 3%;
  margin-top: 1%;
  color: gray;
  position: relative;
  font-size: 1.5px;
}

.main #cl-button:hover {
  opacity: 0.7;
}

body {
  overflow-y: hidden;
}

.main h1 {
  font-family: Poppins;
  text-align: center;
  font-size: 4.5vh;
  font-weight: bold;
}

.d-flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.code-box {
  width: 70px;
  height: 30px;
  border-radius: 10px;
  background-color: #A4A4A4;
  margin-top: 10px;
  -webkit-box-shadow: 0 5px 5px -5px;
  box-shadow: 0 5px 5px -5px;
  text-align: center;
  padding: 5px;
}

.part {
  width: 30%;
}

.part2 .text-left {
  height: 15vh;
}

.part3 .text-left {
  height: 15.5vh;
}

.part4 .text-left {
  height: 17vh;
}

.part5 .text-left {
  height: 15vh;
}

.part6 .text-left {
  height: 13vh;
}

.part7 .text-left {
  height: 9.5vh;
}

.w-20 {
  width: 20%;
}

.w-25 {
  width: 25%;
  margin-left: 100px;
}

.w-32 {
  width: 32%;
}

.w-35 {
  width: 35%;
}

.w-40 {
  width: 90%;
}

.w-15 {
  width: 15%;
}

.ml-1 {
  margin-top: 8px;
  margin-left: 0.8rem;
  height: 4.8vh;
}

.mt-5px {
  margin-top: 15px;
}

.slc {
  padding: 5px;
  border: 0;
  -webkit-box-shadow: 0 5px 5px -5px;
  box-shadow: 0 5px 5px -5px;
}

.lb {
  font-weight: unset;
}

.box {
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  margin: auto;
  margin-top: 3rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 5px;
}

.box-title {
  background-color: #B38FDC;
  -webkit-box-shadow: 0 5px 5px -5px;
  box-shadow: 0 5px 5px -5px;
  font-size: 13px;
  font-weight: bold;
  margin: 5px auto;
  margin-bottom: 12px;
  border-radius: 8px;
  padding: 2px;
  text-align: center;
}

.dia-info {
  width: 95%;
  margin: auto;
  border: 2px solid #A4A4A4;
  display: -ms-grid;
  display: grid;
  /* height: 154px; */
}

.td-title {
  background-color: #A4A4A4;
  text-align: left;
  padding: 4px;
  padding-left: 10px;
}

.field {
  padding: 3px;
  border: 0;
}

.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.text-left {
  text-align: left;
}

.mt-3 {
  margin-top: -1vh;
}

.patientFooter {
  background: none;
  /* height: 9vh; */
  /* width: 94%; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  /* position: absolute;
        top: 88.5vh;
        left: 36vh; */
}

.patientFooter .dots .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.dots {
  /* top: 0.5vh; */
  top: 20px;
  margin: auto;
  margin-top: 20px;
}

@media screen and (max-width: 1400px) {
  .dots {
    position: relative;
    top: 15px;
    left: 1%;
    margin-top: 0px;
    margin-bottom: 1vh;
  }
  .d-flex {
    height: 6vh;
  }
  .d-flex-between h1 {
    position: relative;
    margin-left: 22vw;
    width: 25vw;
  }
  .cancel-btn i {
    position: absolute;
  }
  .fixeye {
    -webkit-transform: translateX(4vh);
            transform: translateX(4vh);
  }
  .part2 .text-left {
    height: 15vh;
  }
  .part3 .text-left {
    height: 14vh;
  }
  .part4 .text-left {
    height: 15vh;
  }
}

@media (max-width: 1300px) {
  /*.part {
        background: rgba(255, 0, 0, 0);
    }*/
  /*.box {
        background: blue;
    }*/
  .part1 {
    line-height: 1.8vh;
    background: rgba(0, 128, 0, 0);
  }
  .part2 {
    line-height: 1.8vh;
    background: rgba(0, 128, 0, 0);
  }
  .part2 .text-left {
    height: 14vh;
    margin-top: -2vh;
  }
  .part3 {
    line-height: 1.8vh;
  }
  .part3 .text-left {
    height: 12vh;
  }
  .part4 {
    line-height: 1.8vh;
  }
  .part4 .text-left {
    height: 15vh;
  }
  .part5 {
    line-height: 1.8vh;
  }
  .part5 .text-left {
    height: 15vh;
    margin-top: -2vh;
  }
  .part6 {
    line-height: 1.8vh;
  }
  .part6 .text-left {
    height: 11vh;
    margin-top: 1vh;
  }
  .part7 {
    line-height: 1.8vh;
  }
  .part7 .text-left {
    height: 12.5vh;
    margin-top: 1vh;
  }
}

#fixpid {
  position: relative;
  right: 1.7vh;
}

#fixJane {
  position: relative;
  right: 1vh;
}

.fixeye {
  position: relative;
  right: 6vh;
  top: .7vh;
}

.fixeye a i {
  font-size: 2vh;
  margin-top: 6px;
  margin-left: 6px;
  color: gray;
}

@media (max-width: 1400px) {
  .fixeye a i {
    margin-top: 6px;
    margin-left: 6px;
  }
}

@media (max-width: 1300px) {
  .fixeye a i {
    margin-top: 5px;
    margin-left: 4px;
  }
}
/*# sourceMappingURL=diagnostic-report.css.map */