@import "functions.scss";
nav {
    //height: 80px;
    height: 11vh;
    width: 100%;
    @include felx(flex-end, row);
    position: absolute;
    margin: -10px;
    padding-top: 2vh;
}

nav {
    div {
        margin: 0 5px;
        //padding: 23px;
        padding: 3vh;
    }
}

nav {
    div:hover {
        border-color: rgb(160, 160, 160);
    }
}

nav {
    div:hover i {
        color: #bdbdbd;
    }
}

.fb {
    //width: 3%;
    //height: 50%;
    width: 3vw;
    height: 3vh;
    background: rgba(255, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.3vh solid rgb(80, 79, 79);
    border-radius: 50%;
}

.fb {
    a {
        i {
            //font-size: 28px;
            font-size: 3.5vh;
            color: rgb(80, 79, 79);
        }
    }
}

.inst {
    //width: 3%;
    //height: 50%;
    width: 3vw;
    height: 3vh;
    background: rgba(255, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.3vh solid rgb(80, 79, 79);
    border-radius: 50%;
}

.inst>a>i {
    //font-size: 28px;
    font-size: 3.5vh;
    color: rgb(80, 79, 79);
}

.twit {
    //width: 3%;
    //height: 50%;
    width: 3vw;
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.3vh solid rgb(80, 79, 79);
    border-radius: 50%;
}

.twit>a>i {
    //font-size: 28px;
    font-size: 3.5vh;
    color: rgb(80, 79, 79);
}

header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#headingImage {
    object-fit: cover;
}

@media screen and (max-width: 1024px) {
    #headingImage {
        width: 350px;
        margin-top: 80px;
    }
}