.buttonx {
  background-color: rgb(255, 255, 255);
}
  
.buttonx:hover {
  opacity: 0.8;
}
  

  
@media(max-width:1090px){
      /* Hide all steps by default: */
  .tab {
    display: none;
    height: 29vh;
  }
  #form1{
      margin-top: 0;
  }
  #fileToUpload{
      width: 2px;
  }
  #nextBtn{
    margin-right: 2vw;
  }
  .backbox{
    height: 67vh;
    width: 100%;
  }
  .main h1{
    margin-left: 32vw;
  }

}
@media(max-width:1090px){
  .flex-g{
    flex-grow: 1;
  }
  .flex-g50{
    flex-grow: 0.5;
  }
  .flex-g40{
    flex-grow: 0.4;
  }
  .w-35{
    width: 35%;
  }
}


@media(max-width:1090px){
  /* for part 1 form */
  #photo{
    margin-left: 39%;
    height: 22vh;
    width: 130px;
  }
  .part1{
    margin-top: 2vh;
  }
  .info-md-input {
    max-height: 6.3vh;
    height: 6.3vh;
  }
  #agelabel{
    width: 8%;
  }
  #agediv1{
    text-align: center;
  }
}

@media (max-width:1090px){
  /*for part 2 form*/
  .part2{
    margin-right: 3vw;
  }
  #sname{
    flex: 0.5;
    margin-left: 0;
    margin-right: 0.5vw;
  }
  #rmodal{
    margin-left: -1vw;
  }
  #labelEmer{
    width: 29%;
  }
  #relationLabel{
    margin-right: 4vw;
  }
  #docID{
    width: 28%;
    margin-right: 3vw
  }
  #doc{
    width: 19%;
    margin-right: -1vw;
  }
}

@media (max-width:800px){
  .main h1{
    font-size: 2.5vw;
    width: 33%;
  }
  #msdiv{
    margin-left: 4vw;
  }
  #relationLabel {
    margin-right: 3vw;
    margin-left: 1.5vw;
  }
  #singleLabel{
    margin-left: 1vw;
  }
  #mariedLabel{
    margin-left: 1vw;
  }
  .mob {
    margin-right: 3vw;
  }
}