.main {
  font-family: "Poppins", sans-serif;
}

.main #cl-button {
  right: 3%;
  margin-top: 1%;
  color: gray;
  position: absolute;
  font-size: 1.5px;
}

.main #cl-button:hover {
  opacity: 0.7;
}

.main h1 {
  position: absolute;
  left: 95vh;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 4.5vh;
}

.main .personal-info-form {
  height: 65vh;
  width: 160vh;
  background: rgba(255, 255, 255, 0.164);
  position: absolute;
  top: 23vh;
  left: 41.5vh;
}

.main .personal-info-form form div input {
  -webkit-filter: drop-shadow(0px 2px 2px gray);
          filter: drop-shadow(0px 2px 2px gray);
  height: 5vh;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0);
  padding-left: 1vw;
}

.main .personal-info-form form div select {
  -webkit-filter: drop-shadow(0px 2px 2px gray);
          filter: drop-shadow(0px 2px 2px gray);
  height: 5vh;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0);
  padding-left: 0.85vw;
}

.main .personal-info-form form .six-grid div input {
  -webkit-filter: drop-shadow(0px 2px 2px gray);
          filter: drop-shadow(0px 2px 2px gray);
  height: 5vh;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0);
}

.main .personal-info-form form .six-grid div select {
  -webkit-filter: drop-shadow(0px 2px 2px gray);
          filter: drop-shadow(0px 2px 2px gray);
  height: 5vh;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0);
}

.row1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: row1;
}

.row2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: row2;
}

.row3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: row3;
}

.row4 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: row4;
}

.row5 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-area: row5;
}

.row6 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-area: row6;
}

.row6_1 {
  grid-area: row6_1;
}

.row6_2 {
  grid-area: row6_2;
}

.row6_3 {
  grid-area: row6_3;
}

.photo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 4;
  -ms-grid-column-span: 7;
  grid-area: photo;
}

.one {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
}

.two {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: two;
}

.three {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: three;
}

.four {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: four;
}

.five {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: five;
}

.six {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: six;
}

form > div {
  background: rgba(228, 12, 12, 0);
  text-align: center;
  padding: 1vh 0;
  font-size: 1.0vw;
  font-family: Poppins;
  font-weight: lighter;
}

form {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "row1 row1 row1 photo photo photo photo photo photo photo" "row2 row2 row2 photo photo photo photo photo photo photo" "row3 row3 row3 photo photo photo photo photo photo photo" "row4 row4 row4 photo photo photo photo photo photo photo" "row5 row5 row5 row5 row5 row5 row5 row5 row5 row5" "row6 row6 row6 row6 row6 row6 row6 row6 row6 row6";
  grid-gap: 2px;
  padding: 2px;
}

.row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row1 label {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 3px;
          flex: 1 0 3px;
  max-width: 10vw;
  font-size: 14px;
  font-family: Poppins;
  font-weight: lighter;
}

#form-label1 {
  margin-left: 15px;
  text-align: left;
}

#patient-id {
  width: 9.5vw;
}

#passport {
  width: 10.5vw;
}

#dob {
  width: 11%;
}

#age {
  width: 6%;
}

.row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row2 label {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 3px;
          flex: 1 0 3px;
  max-width: 50vw;
  margin-left: 15px;
  text-align: left;
  font-size: 14px;
  font-family: Poppins;
  font-weight: lighter;
}

#name {
  width: 56.5vw;
}

.row3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row3 label {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 3px;
          flex: 1 0 3px;
  max-width: 50vw;
  font-size: 14px;
  font-weight: lighter;
}

#address {
  width: 56.5vw;
}

.row4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row4 label {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 3px;
          flex: 1 0 3px;
  max-width: 50vw;
  font-size: 14px;
  font-weight: lighter;
}

.row5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row5 label {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 1px;
          flex: 1 0 1px;
  max-width: 50vw;
  font-size: 14px;
  font-weight: lighter;
}

.row5 select {
  width: 4vw;
}

.male {
  position: relative;
  right: 1%;
}

.female {
  position: relative;
  right: 3%;
}

#mar-status {
  margin-left: 5%;
  margin-right: 2%;
  position: relative;
  right: 2.5%;
}

#Single {
  position: relative;
  right: 4%;
}

#Married {
  position: relative;
  right: 5%;
}

.six-grid {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "one two" "three four" "five six";
  grid-gap: 1px;
}

.six-grid > div {
  background: rgba(0, 0, 255, 0);
  height: 8vh;
}

.one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.one label {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 1px;
          flex: 1 0 1px;
  max-width: 50vw;
  font-weight: lighter;
}

#mobile {
  width: 12.6vw;
}

.two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.two label {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 1px;
          flex: 1 0 1px;
  max-width: 50vw;
  text-align: left;
  margin-left: 30px;
  font-weight: lighter;
}

#spouse-name {
  width: 35vw;
  margin-right: 12.5vw;
}

.three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.three label {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 1px;
          flex: 1 0 1px;
  max-width: 50vw;
  text-align: left;
  margin-left: 15px;
  font-weight: lighter;
}

#e-contact {
  width: 12.6vw;
}

.four {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.four label {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 1px;
          flex: 1 0 1px;
  max-width: 50vw;
  text-align: left;
  margin-left: 30px;
  font-weight: lighter;
}

#e-contact-no {
  width: 12.5vw;
  margin-right: 2vw;
}

#relation {
  width: 12vw;
  margin-right: 12.5vw;
}

.five {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.five label {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 1px;
          flex: 1 0 1px;
  max-width: 50vw;
  text-align: left;
  margin-left: 18px;
  font-weight: lighter;
}

#doctor-id {
  width: 12.6vw;
}

.six {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.six label {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 1px;
          flex: 1 0 1px;
  max-width: 50vw;
  text-align: left;
  margin-left: 27px;
  font-weight: lighter;
}

#doctor-name {
  width: 13vw;
  margin-right: 34.5vw;
}

.photo {
  background: rgba(255, 255, 255, 0);
  border: solid rgba(255, 255, 255, 0) 1px;
}

.photo .image-container {
  position: relative;
  width: 80%;
  height: 90%;
  background: white;
  border: solid #0e0d0d 1px;
  top: 4%;
  left: 14%;
}

.footer-icons3 {
  top: 88vh;
}

@media (max-width: 1300px) {
  .footer-icons3 {
    top: 88vh;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 40vh;
  left: 0vh;
  top: 0vh;
  width: 110vw;
  height: 100vh;
  overflow: auto;
  background-color: black;
  background-color: rgba(192, 192, 192, 0.5);
}

.modal #saveModal {
  margin-top: 50%;
}

.saveModal-content {
  background: #b1b1b1;
  margin: auto;
  padding: 1.3vh;
  border: none;
  width: 21vw;
  height: 20vh;
  border-radius: 6vh;
}

.saveModal-content .delp {
  font-size: 2vh;
  font-weight: 500;
  text-align: center;
  margin-top: 4vh;
}

.saveModal-content button {
  width: 5vw;
  height: 5.25vh;
  border-radius: 1vh;
  border: none;
  background: white;
  font-size: 2vh;
}

.saveModal-content #btn1,
.saveModal-content #btn2 {
  display: inline-block;
  margin: 1vh 1vh;
  outline: none;
}

.saveModal-content #btn1:hover,
.saveModal-content #btn2:hover {
  background: #5c5c5c;
  color: white;
}

.saveModal-content #btn1 {
  margin-left: 4.5vw;
}

/*
//row 7 begins
.seven-grid {
    display: grid;
    grid-template-areas: 'three four';
    grid-gap: 1px;
}

.seven-grid>div {
    background: blue;
    height: 10vh;
}

#e-contact {
    width: 13vw;
    height: 4vh;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0);
    margin-bottom: 2vh;
}

.three {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 14px;
}

.three label {
    flex: 1 0 1px;
    max-width: 50vw;
    text-align: left;
    margin-left: 15px;
}

.four {
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    font-size: 14px;
}

#e-contact-no {
    width: 16vw;
    height: 4vh;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0);
    margin-bottom: 2vh;
    margin-right: 2vh;
}

#e-label {
    flex: 1 0 1px;
    max-width: 50vw;
    text-align: left;
    margin-left: 15px;
}

#relation {
    width: 15vw;
    height: 4vh;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0);
    margin-bottom: 2vh;
    margin-right: 8vw;
}

#relation-label {
    flex: 1 0 1px;
    max-width: 50vw;
    text-align: left;
    margin-left: 15px;
}*/
/*# sourceMappingURL=personal-info.css.map */