.d-flex-bt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.main #cl-button {
    right: unset !important;
    color: gray;
    position: unset !important;
    font-size: 1.5px;
}

#cl-button:hover {
    opacity: 0.7;
}

.code-No {
    border-radius: 12px;
    width: 7vw;
    height: 5vh;
    background-color: #A4A4A4;
    margin-top: 10px;
    -webkit-box-shadow: 0 5px 5px -5px;
    box-shadow: 0 5px 5px -5px;
    text-align: center;
    padding: 5px;
    margin-left: 50px;
    font-size: 2.3vh;
    font-weight: bold;
    padding-top: 1.2vh;
    -webkit-transform: translateY(2.3vh);
    transform: translateY(2.3vh);
}

.main h1 {
    left: unset !important;
    position: unset !important;
    margin: unset !important;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-1 h1 {
    font-weight: bolder;
    font-size: 4.5vh;
    left: 95vw;
    width: 30vw;
}

.d-flex-around {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 1.5rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
    margin-top: 2rem;
}

.d-flex-end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.orderBox {
    width: 45%;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    /* margin: auto; */
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 5px 1px;
    height: 62vh;
    margin-top: 1vh;
}

.orderBox-title {
    width: 30%;
    background-color: #B38FDC;
    -webkit-box-shadow: 0 5px 5px -5px;
    box-shadow: 0 5px 5px -5px;
    font-size: 13px;
    font-weight: bold;
    margin: 5px auto;
    margin-bottom: 12px;
    border-radius: 8px;
    padding: 5px 30px;
    text-align: center;
}

.orderInfo {
    width: 95%;
    height: 53vh;
    margin: auto;
    border: 2px solid #A4A4A4;
    display: -ms-grid;
    display: grid;
}

.orderflex {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5px 10px 5px;
    margin-top: 5px;
}

.orderlb {
    font-weight: unset;
    width: 20%;
    margin: 6px 0;
}

.orderFeild {
    padding: 5px;
    border: 1px solid #A4A4A4;
    background-color: rgba(255, 255, 255, 0.2);
}

.w-25 {
    width: 25%;
}

.w-35 {
    width: 35%;
}

.w-75 {
    width: 75%;
}

.ml-6 {
    margin-left: 6rem;
}

.orderTitle {
    background-color: #A4A4A4;
    text-align: left;
    padding: 4px;
    padding-left: 10px;
}

.plusIcon {
    width: 2vw;
    height: 4vh;
    border-radius: 50%;
    background-color: #A4A4A4;
    padding-top: 1.1vh;
    padding-right: 0.55vw;
    font-size: 2vh;
    margin-right: 0.8vw;
    margin-bottom: 2vh;
}

.LISTING-box {
    height: 62vh !important;
    overflow-y: auto !important;
}

.LISTING-box::-webkit-scrollbar {
    width: 10px;
}

.LISTING-box::-webkit-scrollbar-thumb {
    background: #9F9C9C;
    border-radius: 20px;
}

.LISTING-box::-webkit-scrollbar-track {
    background: unset;
}

.orderIcon {
    text-align: right;
    margin: 5px;
    padding-top: 0.3vh;
}


/*.dot-gray {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      -webkit-transition: background-color 0.6s ease;
      transition: background-color 0.6s ease;
  }
  
  .dot-black {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: black;
      border-radius: 50%;
      display: inline-block;
      -webkit-transition: background-color 0.6s ease;
      transition: background-color 0.6s ease;
  }
  
  .footerIcon {
      background-color: #b7b0e4;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      padding: 10px;
      font-size: 3vh;
      justify-content: center;
      text-align: center;
  }
  
  .pt-1 {
      padding-top: 1rem
  }*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 40vh;
    left: 0vh;
    top: 0vh;
    width: 110vw;
    height: 100vh;
    overflow: auto;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.404);
}

.modal #saveModal {
    margin-top: 50%;
}

.saveModal-content {
    background: #b1b1b1;
    margin-left: 45vw;
    padding: 1.3vh;
    border: none;
    width: 25vw;
    height: 20vh;
    border-radius: 5vh;
}

.saveModal-content .delp {
    font-size: 2.5vh;
    font-weight: 500;
    text-align: center;
    margin-top: 4vh;
}

.saveModal-content button {
    width: 5vw;
    height: 5.25vh;
    border-radius: 1vh;
    border: none;
    background: white;
    font-size: 2.5vh;
}

.saveModal-content #btn1,
.saveModal-content #btn2 {
    display: inline-block;
    margin: 1vh 1vh;
}

.saveModal-content #btn1 {
    margin-left: 6.2vw;
}

.saveModal-content #btn1:hover,
.saveModal-content #btn2:hover {
    background: #5c5c5c;
    color: white;
}

.deletemodal {
    background-color: rgba(0, 0, 0, 0);
}

.deletemodal-content {
    background: #b1b1b1;
    margin-left: 47vw;
    padding: 1.3vh;
    border: none;
    width: 21vw;
    height: 20vh;
    border-radius: 6vh;
}

.deletemodal-content .delp {
    font-size: 2vh;
    font-weight: 500;
    text-align: center;
    margin-top: 4vh;
}

.deletemodal-content button {
    width: 5vw;
    height: 5.25vh;
    border-radius: 1vh;
    border: none;
    background: white;
    font-size: 2vh;
}

.deletemodal-content #btn1,
.deletemodal-content #btn2 {
    display: inline-block;
    margin: 1vh 1vh;
    outline-style: none;
}

.deletemodal-content #btn1 {
    margin-left: 4.5vw;
}

.deletemodal-content .btn:hover {
    background: #5c5c5c;
    color: white;
}

.printmodal-content {
    background: #B3B4C0;
    margin: auto;
    margin-top: -10vh;
    /* margin-right: 31.2vw; */
    padding: 4vh;
    border: none;
    width: 24vw;
    border-radius: 8vh;
    /* height: 51vh; */
    padding-top: 5vh;
}

.printmodal-content form {
    margin: auto;
}

.printmodal-content .modal-outer {
    list-style: none;
    padding: 0;
}

.printmodal-content .modal-outer li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 3vh;
    height: 6vh;
    width: 20vw;
}

.printmodal-content .modal-outer li label {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 3vh;
    flex: 1 0 3vh;
    max-width: 11vw;
    font-size: 1.9vh;
    font-weight: lighter;
}

.modal-vendor-slc {
    max-width: 9vw !important;
}

.printmodal-content .modal-outer li input {
    height: 5vh;
    border: 1px solid rgba(0, 0, 0, 0);
    padding-left: 1vw;
    font-size: 2vh;
    width: 11vw;
}

.printmodal-content .modal-outer li select {
    height: 5vh;
    border: 1px solid rgba(0, 0, 0, 0);
    padding-left: 1vw;
    font-size: 2vh;
    width: 11vw;
    border-radius: 0px;
}

.printmodal-content button {
    width: 6vw;
    height: 4.5vh;
    border-radius: 50px;
    border: none;
    color: white;
    background: #555050;
    font-size: 1.9vh;
    font-weight: 600;
    margin-left: 7.5vw;
    margin-top: 1.9vh;
    text-align: center;
    /* line-height: 30px; */
}

.printmodal-content button:hover {
    opacity: 0.7;
}

.printmodal-content #dateicon {
    position: absolute;
    right: 46.2vw;
    -webkit-transform: translateY(-1.2vh);
    transform: translateY(-1.2vh);
    color: gray;
    font-size: 2vh;
}

.footer-icons3 {
    top: 88vh;
}

.datepicker {
    background-color: unset !important;
}

.datepickers-container {
    z-index: 200000 !important;
    left: -50px !important;
}

.datepicker--nav {
    max-height: 30px !important;
    padding: 4px 0 !important;
    margin-bottom: 4px !important;
}

.datepicker--content {
    background-color: #FFFDC2 !important;
}

.datepicker--nav-title {
    padding: 6px !important;
    border: 1px solid #333 !important;
    background-color: #FFFDC2 !important;
}

.datepicker--nav-action {
    border: 1px solid #333 !important;
    background-color: #FFFDC2 !important;
    width: 60px !important;
}

.datepicker--content {
    border: 1px solid #333 !important;
}

.datepicker--day-name {
    color: #444242 !important;
}